.pexels-j-knappitsch-15280106-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1150px;
  object-fit: cover;
}
.about-us-child {
  position: absolute;
  top: 13px;
  left: 99px;
  border-radius: var(--br-8xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 104px rgba(0, 0, 0, 0.25);
  width: 1242px;
  height: 65px;
}
.about-us-item {
  position: absolute;
  top: 27px;
  left: 1220px;
  border-radius: var(--br-smi);
  background-color: var(--color-tomato);
  width: 93px;
  height: 36px;
  cursor: pointer;
}
.about-us-inner {
  position: absolute;
  top: 241px;
  left: 99px;
  border-radius: var(--br-24xl);
  background: linear-gradient(
    132.94deg,
    rgba(255, 255, 255, 0.52) 17.44%,
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1242px;
  height: 806px;
}
.logo-1-icon5 {
  position: absolute;
  top: 17px;
  left: 108px;
  width: 79px;
  height: 64px;
  object-fit: cover;
}
.booking6,
.home6,
.services10 {
  position: absolute;
  display: inline-block;
}
.home6 {
  top: 36px;
  left: 629px;
  font-size: var(--font-size-5xl);
  width: 78px;
  height: 18px;
  cursor: pointer;
}
.booking6,
.services10 {
  width: 101px;
}
.booking6 {
  top: 36px;
  left: 737px;
  font-size: var(--font-size-5xl);
  height: 18px;
  cursor: pointer;
}
.services10 {
  left: 868px;
}
.about-us7,
.login9,
.services10 {
  top: 36px;
  font-size: var(--font-size-5xl);
  height: 18px;
  cursor: pointer;
}
.about-us7 {
  position: absolute;
  left: 999px;
  display: inline-block;
  width: 101px;
}
.login9 {
  left: 1139px;
  width: 58px;
}
.login9,
.signup8,
.trexplore10 {
  position: absolute;
  display: inline-block;
}
.signup8 {
  top: 35px;
  left: 1231px;
  font-size: var(--font-size-5xl);
  width: 77px;
  height: 18px;
  cursor: pointer;
}
.trexplore10 {
  top: 27px;
  left: 181px;
  font-size: var(--font-size-21xl);
  width: 187px;
  height: 37px;
}
.about-us-child1 {
  position: absolute;
  top: 1144px;
  left: 0;
  background: linear-gradient(
    95.16deg,
    rgba(255, 87, 55, 0.6),
    rgba(152, 193, 217, 0.2)
  );
  width: 1440px;
  height: 440px;
}
.logo-3-icon5,
.trexplore11 {
  position: absolute;
  cursor: pointer;
}
.logo-3-icon5 {
  top: 1189px;
  left: 187px;
  width: 79px;
  height: 64px;
  object-fit: cover;
}
.trexplore11 {
  top: 1202px;
  left: 266px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 187px;
  height: 37px;
}
.about5,
.help5,
.services11 {
  position: absolute;
  top: 1304px;
  left: 752px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 94px;
  height: 18px;
}
.about5,
.help5 {
  left: 1009px;
}
.about5 {
  left: 1266px;
}
.facebook-1-15,
.instagram-1-icon5,
.linkedin-1-icon5,
.twitter-1-icon5 {
  position: absolute;
  top: 1205px;
  left: 1126px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.instagram-1-icon5,
.linkedin-1-icon5,
.twitter-1-icon5 {
  left: 1186px;
}
.linkedin-1-icon5,
.twitter-1-icon5 {
  left: 1247px;
}
.linkedin-1-icon5 {
  left: 1307px;
}
.bookings6,
.contact-us5,
.curated-paths6,
.our-story5,
.subscribe-to-our5 {
  position: absolute;
  display: inline-block;
  font-family: var(--font-news-cycle);
  height: 29px;
}
.curated-paths6 {
  top: 1344px;
  left: 752px;
  width: 106px;
  cursor: pointer;
}
.bookings6,
.contact-us5,
.our-story5,
.subscribe-to-our5 {
  top: 1280px;
  left: 217px;
  width: 235px;
}
.bookings6,
.contact-us5,
.our-story5 {
  top: 1344px;
  left: 1009px;
  width: 106px;
}
.bookings6,
.our-story5 {
  top: 1343px;
  left: 1266px;
}
.bookings6 {
  top: 1380px;
  left: 753px;
  width: 105px;
  height: 30px;
  cursor: pointer;
}
.faq5 {
  top: 1380px;
  left: 1010px;
}
.accessibility5,
.careers5,
.communities7,
.faq5 {
  position: absolute;
  display: inline-block;
  font-family: var(--font-news-cycle);
  width: 105px;
  height: 30px;
}
.careers5 {
  top: 1379px;
  left: 1267px;
}
.accessibility5,
.communities7 {
  top: 1417px;
}
.communities7 {
  left: 752px;
  cursor: pointer;
}
.accessibility5 {
  left: 1009px;
}
.about-us-child2,
.about-us-child3 {
  position: absolute;
  top: 1322px;
  left: 205px;
  border-radius: var(--br-8xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 104px rgba(0, 0, 0, 0.25);
  width: 259px;
  height: 41px;
}
.about-us-child3 {
  top: 1323px;
  left: 484px;
  width: 105px;
}
.subscribe5 {
  top: 1328px;
  left: 499px;
  font-family: var(--font-news-cycle);
  width: 75px;
  height: 29px;
}
.about-us8,
.enter-your-email5,
.subscribe5 {
  position: absolute;
  display: inline-block;
}
.enter-your-email5 {
  top: 1328px;
  left: 226px;
  font-family: var(--font-news-cycle);
  color: var(--color-gray-300);
  width: 126px;
  height: 29px;
}
.about-us8 {
  top: 273px;
  left: 623px;
  font-size: var(--font-size-31xl);
  width: 208px;
  height: 51px;
}
.about-us-child4,
.about-us-child5,
.about-us-child6 {
  position: absolute;
  top: 328px;
  left: 695px;
  border-radius: var(--br-sm);
  background-color: var(--color-tomato);
  width: 58px;
  height: 9px;
}
.about-us-child5,
.about-us-child6 {
  top: 375px;
  left: 400px;
  border-radius: var(--br-21xl);
  box-shadow: 16px 16px 51px -14px rgba(0, 0, 0, 0.5);
  width: 666px;
  height: 406px;
}
.about-us-child6 {
  top: 398px;
  left: 765px;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 259px;
  height: 359px;
}
.logo-2-icon1 {
  position: absolute;
  top: 531px;
  left: 765px;
  width: 75px;
  height: 61px;
  object-fit: cover;
}
.founder-ceo1 {
  position: absolute;
  top: 555px;
  left: 824px;
  font-size: var(--font-size-mini);
  font-family: var(--font-news-cycle);
  display: inline-block;
  width: 103px;
  height: 21px;
}
.bivek-raj1 {
  margin: 0;
}
.bivek-raj-shakya-container1 {
  position: absolute;
  top: 418px;
  left: 781px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  width: 259px;
  height: 249px;
}
.i-am-bivek-container1,
.our-platform-allows-container1 {
  position: absolute;
  font-family: var(--font-roboto);
  display: inline-block;
}
.our-platform-allows-container1 {
  top: 822px;
  left: 324px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  width: 818px;
  height: 166px;
}
.i-am-bivek-container1 {
  top: 607px;
  left: 783px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-200);
  width: 232px;
  height: 120px;
}
.img-20220312-155055-061-remove-icon1 {
  position: absolute;
  top: 364px;
  left: 393px;
  width: 417.06px;
  height: 417.06px;
  object-fit: cover;
}
.copyright-20235 {
  position: absolute;
  top: 1542px;
  left: 615px;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-news-cycle);
  color: var(--color-darkslategray-100);
  width: 336px;
  height: 29px;
}
.about-us6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1584px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-100);
  font-family: var(--font-newake);
}
